## Export to SQL

Before we start, we need to create an empty schema using the following query:

    CREATE SCHEMA `sqlproject` DEFAULT CHARACTER SET utf8mb4 ;

Note that `utf8mb4` is necessary because some characters in the comments are using 4 bytes format (like smileys, etc.) which will not be stored properly if you don't set this. When you are importing comments, you might see error during insertion, to fix that, you can update the table's definition on mySQL to use `utf8mb4` for all columns with datatype `text`.

In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
# create sqlalchemy engine ( Connection string which includes username, password, host and database name)
  
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="PSW",
                               db="sqlproject"))

In [3]:
# Load CSV files we downloaded, in order to export them
badges = pd.read_csv('badges.csv')
comments = pd.read_csv('comments.csv')
schools = pd.read_csv('schools.csv')
locations = pd.read_csv('locations.csv')
courses = pd.read_csv('courses.csv')

# Drop the columns which are similar and not required 
courses = courses.drop(columns=['Unnamed: 0.1','Unnamed: 0'])
badges = badges.drop(columns=['Unnamed: 0.1','Unnamed: 0'])
locations = locations.drop(columns=['Unnamed: 0.1','Unnamed: 0'])
schools = schools.drop(columns=['Unnamed: 0.1','Unnamed: 0'])
comments = comments.drop(columns=['Unnamed: 0.1','Unnamed: 0'])
comments = comments.drop(columns=['rawBody'])
comments = comments.drop(columns=['body'])

### Insert data into MySQL

We are going to use Pandas `to_sql` which uses following parameters:
* Table name in the database, if it doesn't exist, it will create it based on your data format in data frame
* Connection object in order to connect to database and run queries, which we use the Engine we made using `sqlalchemy` above
* If you want the data to be appended instead of overwriting the existing content, pass `if_exists='append'`
* Chunk size determines how many rows at a time to be inserted (rate limiting)

In [41]:
badges.to_sql('badges', con = engine, if_exists = 'append', chunksize = 1000)

68

In [48]:
comments.to_sql('comments', con = engine, if_exists = 'append', chunksize = 500)
# if faced error, check the notes mentioned above about utf8mb4

10716

In [44]:
locations.to_sql('locations', con = engine, if_exists = 'append', chunksize = 1000)

195

In [45]:
courses.to_sql('courses', con = engine, if_exists = 'append', chunksize = 1000)

216

In [7]:
# this is the school ranking according to the website swistchup 
schools_rank=['','actualize','learningfuze','clarusway', 'springboard', 'codesmith', 'code-platoon', 'knowledgehut', 'udacity', 'altcademy', 'tech-elevator', 'codeworks', '4geeks-academy', 'coding-temple', 'devcodecamp', 'nucamp', 'tripleten', 'ironhack', 'skillcrush', 'the-tech-academy', 'hack-reactor', 'tech-i-s', 'app-academy', 'brainstation', 'coding-dojo']

In [5]:
# Define a function that uses above list to get ranking for the school and could be used with
# dataframe.apply
def get_school_rank(row):
    school = row['school']
    return schools_rank.index(school)

# testing for ironhack record
get_school_rank(schools.loc[0])

17

In [8]:
# adding one more Column to add the ranking of schools 
schools['ranking'] = schools.apply(get_school_rank,axis=1)

In [9]:
schools.head()

,website,description,LogoUrl,school,school_id,ranking
0,www.ironhack.com/en,Ironhack is a global tech school with 9 campus...,https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828,17
1,appacademy.io,"Founded in 2012, App Academy is a world-renown...",https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525,22
2,www.springboard.com/?utm_source=switchup&utm_m...,Springboard is an online learning platform tha...,https://d92mrp7hetgfk.cloudfront.net/images/si...,springboard,11035,4
3,anyonecanlearntocode.com/?utm_source=switchup&...,Actualize is a coding bootcamp that values qua...,https://d92mrp7hetgfk.cloudfront.net/images/si...,actualize,10505,1
4,learningfuze.com,"LearningFuze is an immersive, 14-week web deve...",https://d92mrp7hetgfk.cloudfront.net/images/si...,learningfuze,10862,2

In [10]:
schools.to_sql('schools', con = engine, if_exists = 'append', chunksize = 1000)

24